.centered-element{
    text-align: center;
    justify-content: center;
}


.main-title-text{
    font-weight: bold;
    font-size: 4vw ;
}
.search-box{
  display: block;
  padding: 6px;
  border: double gray;
  margin: 10px auto;
  font-size: 17px;
}
.movie-grid{
  margin: 40px;
}